<h1> List index </h1>

<ul>
    <% @lists.each do |list| %>
        <li><strong><%= list.title %></strong>: <%= list.description %>
            <br>
        </li>

    <% end %>
</ul>
<p><%= link_to 'New List', new_list_path %></p>
